<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/anasayfa-index.css">
    <title>Samayar Anasayfa</title>
</head>
<body>
   <div class="header">
    <h1><span id="isim">samayar</span> ile daha güvenli yarınlara</h1>
       <span class="yonlendirme">Çalışmalarımızı yakından takip etmek için yazılarımıza <a href="/blog/index">buradan</a> erişebilirsiniz.</span>
       </div>
    <div class="tanitim"><span class="intanitim">Firmamızca verilen hizmelerimiz:</span>
    <div class="icindelistevar">
        <ul>
            <li>Web uygulama güvenliği testi</li>
            <li>Sıfırıncı gün açığı tespiti</li>
            <li>Sızma testi</li>
        </ul>
    </div></div>
    <div class="footer"><p>Tüm hakları samayar tarafından saklıdır ©</p></div>
</body>
</html>
