* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #c3b9b7;
}

.menublock h1 {
    display: inline-block;
}
.menublock a.anasayfa:hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70px;
    text-align: right;
    transition: 0.3s all linear;
}

.menublock a.anasayfa {
    text-decoration: none;
    color: black;
    background-color: #c3b9b7;
    float: right;
    padding: 10px;
    transition: 0.3s all linear;
}

.menublock {
    background-color: #a59491;
    padding: 20px 20px 20px 40px;
    position: sticky;
    top: 0;
}

.menublock a.liste {
    color: black;
}
