<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/blog-index.css">
    <title>Cevol Blog</title>
</head>
<body>
    <div class="menublock">
        <h1>CEVOL's research blog</h1><a href="/anasayfa/index">Anasayfa</a>
    </div>
    <%= @degiskenim %>
</body>
</html>