<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/blog-read.css">
    <title>Researches</title>
</head>
<body>
    <div class="menublock">
        <a href="/blog/index" class="liste"><h1>CEVOL's research blog</h1></a><a class="anasayfa" href="/anasayfa/index">Anasayfa</a>
    </div>
</body>
</html>